*,*::after, *::before{
  box-sizing:border-box;
}

html, body {
  height:100%;
  width:100%;
  background: linear-gradient( #D7E1EC #FFFFFF);
}

h1{
  text-align:center;
  font-family:"sans serif";
}

#main-carousel{
  display: flex;
  max-width:1000px;
  margin:auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  float:center;
   margin-top: 100px;
}

.carImg{
  justify-content: center;
  display:none;
   border-style: solid;
  border-width: 5px black;
    box-shadow:  10px 10px 10px  #888888;
}

.carImg img{
  max-width: 100%;
  width: 40vw;
  height: 60vh;
  justify-content:space-between;
  /*padding:;*/
  border-style: solid;
    border-width: 5px black;
}

.carImg-selected {
display:block;
}

.carousel {
  position: absolute;
  background: none;
  border: none;
  font-size: 4rem;
  top: 30%;
  /*transform: translateY(-50%);*/
  color: black;
  cursor: pointer;
  border-radius: .15rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel.prev-btn{
 right: 5rem;
}

.carousel.next-btn{
  left: 5rem;
}
